@import '../styles/_breakpoints.scss';
 
.tm-introduction {
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: white;
  border-radius: 30px;

  @include mobile {
    width: 100%;
    flex-direction: column;
    margin-bottom: 24px;
  }

  .tm-introduction--left{
    margin: 28px;
  }
  .tm-introduction--right{
    height: 75%;
    margin-right: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
      width: 100%;
      height: 200px;
      margin-right: 0px;
      margin-bottom: 48px;
    }


    img{
      height: 100%;
      border-radius: 12px;
    }
    i{
      margin: 30px;
    }
  }
}