@import '../styles/_breakpoints.scss';

.tm-preview {
  background-image: url('https://i.postimg.cc/xjX5jSF6/Frame-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 359px;
  display: flex;
  align-items: end;
  justify-content: end;

  @include mobile {
    display: none;
  }

  .tm-preview-message {
    background-color: #D0FECF;
    padding: 12px;
    border-radius: 12px;
    max-height: 200px;
    width: 164px;
    margin-bottom: 72px;
    margin-right: 12px;
  }
}